DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/latulipe_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=latulipe_db

SECRET_KEY=change-me-to-a-random-secret-key
JWT_EXPIRY=3600

ADMIN_DEFAULT_EMAIL=admin@latulipe.ro
ADMIN_DEFAULT_NAME=Admin La Tulipe
ADMIN_DEFAULT_PASSWORD=change-me-admin-password

ADMIN_REGISTRATION_CODE=change-me-admin-registration-code
