* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #ede8e0;
}

#root {
  padding-top: 64px;
}

#root:has(.authPage) {
  padding-top: 0;
}